<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<% include ../partials/head.ejs %>
	<title></title>
</head>
<body>
	<% include ../partials/nav.ejs %>

	<nav>
		<a href="/catalog">Back to Home</a>
	</nav>


	<div class="container">
		<h3><%= items.name %><br/></h3>
		<img src="<%=items.img%>"><br/>
		<strong>Description:</strong>
		<%= items.description %><br/>
		<strong>Price:</strong>
		$<%= items.price %><br/>
		<strong>Quantity Remaining:</strong>
		<%= items.qty %>
	</div>

	<% if (items.qty > 0){ %>
          <form action='/catalog/<%=items.id%>/buy?_method=PUT' method='POST'>
          	<a href="/catalog/add-to-cart/<%=items.id%>" class="btn" role="button">Add To Cart</a>
          </form>
          <% } else { %>
            <button>Out of Stock</button>
            <% } %>

</body>
</html>